* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.block {
  display: block;
}
.input-type {
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  margin: 8px auto;
}
.btn {
  color: white;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  background-color: black;
  width: 100px;
  height: 50px;
  margin-bottom: 24px;
}

.open {
  display: block !important;
}

.account-modal p button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container {
  cursor: pointer;
  color: white;
  position: absolute;
  background-color: lightseagreen;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0);
  width: 600px;
}

.modal-header {
  font-size: 24px;
  text-align: center;
  border-bottom: 2px solid green;
  line-height: 2;
}

.modal-header button {
  position: absolute;
  left: 0;
  color: white;
  font-size: 26px;
  padding: 8px 16px;
  border: none;
  background: none;
}

.modal-body .input-type {
  width: 350px;
}

.otp {
  z-index: 5;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.otp-container {
  cursor: pointer;
  color: palegreen;
  position: absolute;
  background-color: lightseagreen;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
}
.otp-container .bt {
  position: absolute;
  background: none;
  color: palegreen;
  border: none;
  font-size: 14px;
  padding: 8px;
}
.otp-container p {
  margin-top: 8px;
  text-align: center;
}
.otp-container input {
  text-align: center;
  margin: 8px 8px;
}
